*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 2, 41);
}

.content{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border:15px solid rgb(90, 206, 221);
    box-shadow: inset5px 100px rgba(0, 0, 0, 0.25);
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time{
    font-size: 5rem;
    font-weight: 700;
    color: rgb(2, 123, 139);
}

.date{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(2, 126, 143);

}